# Virtual environments
.venv*
venv/
env/
__pycache__/

# Python specific
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db

# Large unnecessary files 
presentation_top_5_anomalies.csv
presentation_comparison.csv
potential_anomalies.csv

learning-goals.md
